* {
   margin: 0;
   padding: 0;
}

/********************************************/
/* MENU DE NAVEGAÇÃO ************************/
/********************************************/
nav {
   top: -1px;
   width: 100%;
   height: 60px;
   position: fixed;
   display: flex;
   justify-content: space-around;
   align-items: center;
   z-index: 3;
   transition: all 100ms linear;
   overflow:scroll-x;
}

nav.ativo {
   background-color: rgba(255,255,255) !important;
   box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
}

#menu-search {
   width: 100%;
   height: 49px;
   background-color: #f46439;
   top: 59px;
   position: fixed;
   z-index: 2;
   overflow:scroll-x;
   opacity: 0.9;
   display: none;
   justify-content: center;
}

#menu-search form {
   width: 905px;
   display: grid;
   grid-template-columns: auto 5%;
}

#menu-search button {
   cursor: pointer;
   border: none;
   background: transparent;
}

#menu-search input {
   border: none;
   width: 100%;
   height: 47px;
   font-size: 16px;
   font-family: "Nunito", sans-serif;
   background: transparent;
   color: #ffffff;
   text-align: center;
   outline: none;
}

#menu-search input::placeholder {
   font-size: 14px;
}

#menu-search input:focus::placeholder {
   color:transparent;
   transition: all 100ms linear;
}

#menu-carrinho {
   width: 400px;
   height: 110px;
   background-color: #f46439;
   top: 59px;
   left: 58%;
   position: fixed;
   z-index: 2;
   overflow:scroll-x;
   opacity: 0.9;
   display: none;
   justify-content: center;
}

#menu-usuario {
   width: 210px;
   height: 110px;
   background-color: #f46439;
   top: 59px;
   left: 69%;
   position: fixed;
   z-index: 2;
   overflow:scroll-x;
   opacity: 0.9;
   display: none;
   justify-content: center;
   text-align: center;
   grid-template-rows: auto 2% auto;
   align-content: center;
   font-size: 14px;
   font-family: "Nunito", sans-serif;
}

#menu-usuario p {
   margin: 5px 0;
   color: #ffffff;
}

#menu-usuario a {
   text-decoration: none;
   color: #ffffff;
   margin-top: 10px;
}

#menu-usuario a:hover {
   opacity: 0.7;
}

#menu-usuario hr {
   width: 160px;
   border: 1px solid #e13d0c;
   opacity: 0.5;
}

#modalLogin {
   cursor: pointer;
}

.modal {
   display: none;
   position: fixed;
   z-index: 3;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.4);
}
 

.modal-content {
   background-color: #f46439;
   box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
   opacity: 0.8;
   margin: 15% auto;
   padding: 10px 20px 0 0;
   width: 50%;
   height: 200px;
}

.modal-content p {
   font-family: "Nunito", sans-serif;
   display: flex;
   justify-content: center;
   color: #ffffff;
   font-size: 25px;
   padding-top: 75px;
}
 

.close {
   color: #ffffff;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }



#carrinho-vazio {
   text-align: center;
   display: grid;
   grid-template-rows: auto auto;
   align-content: center;
   font-size: 14px;
   font-family: "Nunito", sans-serif;
   color: #ffffff;
}

#carrinho-vazio a {
   width: 200px;
   height: 30px;
   text-decoration: none;
   cursor: pointer;
   color: #ffffff;
   border: #ffffff solid 1px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

#qtd-carrinho {
   margin-left: 18px;
   margin-top: -8px;
   width: 20px;
   height: 20px;
   position: absolute;
   border: #f46439 1px solid;
   border-radius: 50%;
   background-color: #f46439;
   color: #ffffff;
   text-align: center;
   font-size: 14px;
}

#menu-area {
   width: 85%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: "Nunito", sans-serif;
}  


#menu-logo {
   width: 100px;
}

#menu-logo img {
   width: 160px;
}


.icon-menu-ativo,
.icon-menu-search-ativo,
.icon-menu-search-close,
.icon-menu-search-close-ativo {
   display: none;
}

#menu-links ul,
#menu-login ul {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
}

#menu-login ul li {
   margin: 0 5px;
}

#menu-links a {
   height: 50px;
   padding: 0 15px;
   cursor: pointer;
   display: flex;
   align-items: center;
   text-decoration: none;
   font-size: 14px;
   color: #ffffff;
   text-align: center;
}

#menu-links.ativo a {
   color: #6d6d6d;
}

#menu-login {
   display: flex;
   align-content: center;
   cursor: pointer;
}

/********************************************/
/* BOTÃO VOLTAR AO TOPO *********************/
/********************************************/
#volta-topo {
   cursor: pointer;
   z-index: 1;
}

#volta-topo:hover {
   opacity: 0.7;
}

a[href="#top"]{
   padding:10px;
   position:fixed;
   top: 85%;
   right:8px;
   display:none;
   font-size: 30px;
   cursor: pointer;
}
a[href="#top"]:hover{
   text-decoration:none;
}

a[href="#top"] img {
   width: 80px;
}

/********************************************/
/* BANNER DOS MAIÔS *************************/
/********************************************/
#banner-maios {
   display: flex;
   justify-content: center;
   margin-bottom: 24px;
}

.maios-img {
   cursor: pointer;
}

.maios-img img {
   width: 300px;
}

.maios {
   margin: 0 15px 0 22px;
   cursor: pointer;
   position: relative;
}

.maios-hover {
	background:#f46439;
	z-index:1;
   color:#363636;
   position: relative;
   text-align: center;
   margin-top: -305px;
   width: 300px;
   height: 98%;
	opacity: 0.8;
   display:none;
   font-family: "Nunito", sans-serif;
   text-decoration: none;
}

.maios:hover .maios-hover {
   display: table;
}

.maios-hover:hover .maios-text {
   color: #363636;
}

.maios-hover:hover hr {
   border: 1px solid #ffffff;
}

.maios-text {
    text-align: center;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.maios-text {
	color: #ffffff;
   transition: color 1s;
   -webkit-transition: color 1s;
}

.maios-text p:nth-child(1) {
   font-size: 25px;
}

.maios-text p:nth-child(3) {
   font-size: 11px;
   margin-top: 10px;
   letter-spacing: 0.3rem;
}

.maios-text hr {
   width: 70px;
   margin-left: 115px;
   border: 1px solid #363636;
   opacity: 0.5;
   transition: border 1s;
   -webkit-transition: border 1s;
}

/********************************************/
/* BANNER MONTE SEU BIQUINI *****************/
/********************************************/
#banner-monte-seu-biquini img {
   width: 100%;
   margin-bottom: -6px;
   display: block;
   position: relative;
}

/********************************************/
/* PRODUTOS VITRINE *************************/
/********************************************/
.slider2 {
   top: -160px;
   width: 75%;   
   margin: 0 auto -130px auto;
}

.slick-prev:before,
.slick-next:before {
   padding: 0 10px;
   color: #d2d2d2;
   border-radius: 40px;
   background-color: #ffffff;
}

.slick-slide {
 transition: all ease-in-out .3s;
}

.container {
   background-color: #ffffff;
   margin: 0 3px;
   display: inline-block;
   position: relative;
   cursor: pointer;
   outline: none;
 }

.container img {
   margin: 0 auto;
   width: 100%;
   height: 100%;
}

.container figcaption {
   text-align: center;
   width: 100%;
   top: 420px;
   height: 180px;
   font-family: "Nunito", sans-serif;
 }

.container figcaption p {
   font-size: 14px;
   color: #878787;
   margin: 0 4px;
 }

.container figcaption p:nth-child(2) {
   color: #4a4a49;
   font-weight: bold;
   text-align: center;
}

.container strong {
   font-size: 16px;
}

.container a {
   width: 80%;
   height: 40px;
   margin: 10px auto auto auto;
   text-decoration: none;
   font-family: "Nunito", sans-serif;
   color: #ffffff;
   background-color: #ffffff;
   border: #f46439 2px solid;
   color: #f46439;
   display: none;
   cursor: pointer;
   outline: none;
}

.container:hover a {
   display: grid;
   align-items: center;
}

.container a:hover {
   background-color: #FFFAF0;
}

/********************************************/
/* FOOTER ***********************************/
/********************************************/
#gradiente {
   width: 100%;
   background-image: linear-gradient(#d5efee, #68c8c3);
}

#pitbar {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   align-content: center;
   width: 75%;
   height: 70px;
   color: #ffffff;
   text-align: center;
   font-family: "Nunito", sans-serif;
   font-size: 15px;
   margin: 0 auto;
}

#gradiente hr {
   margin: 0 auto;
   width: 75%;
   border: 1px solid rgba(255, 255, 255, 0.2);
}

#links {
   width: 75%;
   height: 250px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: auto auto auto auto auto 31px;
   align-content: center;
   font-family: "Nunito", sans-serif;
   color: #ffffff;
   font-size: 15px;
   line-height: 1.5rem;
}

#links ul {
   list-style-type: none;
}

#links ul li a {
   text-decoration: none;
   font-family: "Nunito", sans-serif;
   color: #ffffff;
}

#links ul li a:hover {
   color: #e66742;
}

#input-news {
   width: 260px;
   height: 43px;
   margin-top: 20px;
   background-color: rgba(255, 255, 255, 0.2);
   outline: none;
   position: relative;
}

#input-news input {
   border: none;
   width: 200px;
   height: 43px;
   font-family: "Nunito", sans-serif;
   background: transparent;
   padding-left: 25px;
   color: #ffffff;
   letter-spacing: .1rem;
   outline: none;
}

#input-news label {
   pointer-events: none;
   position: absolute;
   top: calc(50% - 20px);
   left: 15px;
   transition: all .2s linear;
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   padding-top: 8px;
   box-sizing: border-box;
 }

 #input-news input::placeholder{
   color:transparent;
 }
 #input-news input:focus ~ label {
   font-size: 14px;
   top: calc(50% - 52px);
   color: #e66742;
 }

 #input-news input:focus {
   color: #e66742; 
 }

#input-news button {
   width: 30px;
   height: 43px;
   cursor: pointer;
   text-decoration:none;
   border: none;
   color: #ffffff;
   background: transparent;
   font-size: 19px;
   font-weight: bold;
   font-family: "Nunito", sans-serif;
}

#input-news button:hover {
   color: #e66742;
   background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-input-placeholder {
   font-family: "Nunito", sans-serif;
   color: #ffffff;
   font-size: 15px;
}

#footer-instagram {
   background-image: url("../img/footer-instagram.png");
   background-repeat: no-repeat;
   cursor: pointer;
}

footer {
   width: 100%;
   height: 35px;
}

footer section {
   width: 75%;
   margin: 0 auto;
   background-color: #ffffff;
   display: grid;
   grid-template-columns: auto auto auto auto;
   font-family: "Nunito", sans-serif;
   font-size: 10px;
   color: #828282;
   align-items: center;
}

#footer-pagamento, 
#footer-seguranca {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
}

#footer-empresa {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.footer-align {
   text-align: end;
}

/********************************************/
/* MEDIA QUERIES ****************************/
/********************************************/

/* 1280px ***********************************/
@media (max-width: 1280px) {
   #menu-search form {
      width: 810px;
   }

   #menu-usuario {
      left: 67.5%;
   }

   #menu-carrinho {
      left: 56%;
   }
}

/* 1024px ***********************************/
@media (max-width: 1024px) {
   .maios-img img {
      width: 250px;
   }

   .maios-hover {
      width: 250px;
      height: 100%;
      margin-top: -258px;
   }

   .maios-text hr {
      margin-left: 90px;
   }

   #menu-search form {
      width: 670px;
   }

   #menu-usuario {
      left: 65.5%;
   }

   #menu-carrinho {
      left: 50%;
   }
   
   #menu-logo img {
      width: 130px;
   }

   #links {
      grid-template-columns: auto auto auto auto 27% 31px;
   }   

   #input-news {
      width: 235px;
   }

   #input-news input {
      width: 170px;
   }

   .container a {
      height: 30px;
   }

   #footer-pagamento, 
   #footer-seguranca,
   #footer-empresa,
   #footer-desenvolvimento {
      display: grid;
      grid-template-columns: auto;
      text-align: center;
      align-items: center;
   }

   .footer-align {
      text-align: center;
   }

   footer section div img {
      margin: 0 auto;
   }
}

/* 950px ************************************/
@media (max-width: 950px) {
   #menu-search form {
      width: 600px;
   }

   #menu-usuario {
      left: 63%;
   }

   #menu-carrinho {
      left: 47%;
   }

   #menu-links a {
      padding: 0 10px;
   }   
}

/* 768px ************************************/
@media (max-width: 768px) {
   .maios-img img {
      width: 180px;
   }

   .maios-hover {
      width: 180px;
      height: 181px;
      margin-top: -186px;
   }

   .maios-text hr {
      margin-left: 50px;
   }

   #menu-usuario {
      left: 58.5%;
   }

   #menu-carrinho {
      left: 38%;
   }

   #menu-search form {
      width: 470px;
   }

   #menu-logo img {
      width: 100px;
   }

   #menu-links a {
      padding: 0 5px;
   }

   footer section {
      width: 90%;
   }

   #gradiente hr {
      width: 90%;
   }

   #pitbar {
      width: 90%;
   }

   #links {
      width: 90%;
      font-size: 13px;
      grid-template-columns: auto auto auto auto 25% 31px;
   }
   
   #input-news {
      width: 200px;
   }

   #input-news input {
      width: 140px;
   }
}

/* 425px ************************************/
@media (max-width: 425px) {
   nav {
      display: none;
   }

   .maios {
      margin: 0 5px;
   }

   .maios-img img {
      width: 120px;
   }

   .maios-hover {
      width: 120px;
      height: 120px;
      margin-top: -125px;
   }

   .maios-text hr {
      margin-left: 25px;
   }

   footer section {
      grid-template-columns: auto auto;
   }

   #pitbar {
      height: 110px;
   }

   #links {
      grid-template-columns: auto auto auto;
      text-align: center;
      padding-top: 10px;
   }

   #links ul {
      margin: 10px 10px 0 0;
   }

   #input-news {
      margin: 10px auto;
   }

   #input-news input {
      width: 140px;
   }

   #footer-instagram {
      margin: 40px 0 0 20px;
   }
}